# ---------- For local dev only ----------
services:
  openwebui:
    image: ghcr.io/open-webui/open-webui:main
    container_name: openwebui
    env_file: ".env"
    ports:
      - "3000:8080"
    networks:
      - llmephant
    volumes:
      - open-webui:/app/backend/data

  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    restart: no
    ports:
      - "6333:6333"
    networks:
      - llmephant
    volumes:
      - llmephant_qdrant:/qdrant/storage

  memory-api:
    build:
      context: .
      dockerfile: Dockerfile.api
    image: memory-api:dev
    container_name: memory-api
    env_file: ".env"
    restart: no
    depends_on:
      - qdrant
    ports:
      - "8080:8080"
    networks:
      - llmephant
    command: [ "uvicorn", "llmephant.app:app", "--host", "0.0.0.0", "--port", "8080", "--reload" ]
    volumes:
      - ./src:/app/src

volumes:
  llmephant_qdrant:
  open-webui:


networks:
  llmephant:
